/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.decorativeBar--small {
  height: 10px;
  width: 80px;
  margin: 20px;
  background-color: #ffca00; }

.header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100px;
  background-color: #ffca00; }
  @media (min-width: 800px) {
    .header {
      flex-wrap: nowrap; } }

.logo {
  box-sizing: border-box;
  height: 100%;
  padding: 30px; }

.logo_img {
  height: 100%; }

.nav_button {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 100px;
  margin: 0 30px;
  font-size: 24px;
  cursor: pointer; }
  @media (min-width: 800px) {
    .nav_button {
      display: none; } }

.nav_hiddenCheckBox:checked + .nav {
  visibility: visible; }

@media (max-width: 800px) {
  .nav {
    visibility: hidden;
    width: 100%;
    background-color: #ffca00; } }

@media (min-width: 800px) {
  .nav {
    visibility: visible;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    background-color: #1e2d3b;
    padding: 0 20px; } }

.nav_item {
  margin: 20px;
  font-family: Corbel, sans-serif; }
  @media (max-width: 800px) {
    .nav_item {
      color: black;
      text-align: center;
      font-size: 30px;
      margin: 30px; } }
  @media (min-width: 800px) {
    .nav_item {
      color: white; } }

.nav_link {
  text-decoration: none;
  color: inherit; }
  @media (max-width: 800px) {
    .nav_link {
      color: black; }
      .nav_link:hover {
        color: white; } }
  @media (min-width: 800px) {
    .nav_link {
      color: white; }
      .nav_link:hover {
        color: #ffca00; } }

.nav_link--here {
  text-decoration: none; }
  @media (max-width: 800px) {
    .nav_link--here {
      color: white; } }
  @media (min-width: 800px) {
    .nav_link--here {
      color: #ffca00; } }

.hero {
  padding: 0;
  height: 400px;
  background-image: url("../images/lighted_beige_house.jpg");
  background-position: 50% 20%;
  background-size: cover; }

.hero_heading {
  padding-top: 30px;
  text-align: center;
  font-size: 30px;
  font-family: Corbel, sans-serif;
  font-weight: bold;
  color: #333333; }
  @media (min-width: 1000px) {
    .hero_heading {
      padding: 20px;
      font-size: 45px; } }

@media (max-width: 1200px) {
  .services {
    width: 100%; } }

@media (min-width: 1200px) {
  .services {
    width: 1200px;
    margin: 0 auto; } }

.services_heading {
  margin: 20px;
  font-family: Corbel, sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: #1e2d3b; }

.services_cardGroup {
  display: flex;
  flex-direction: column; }
  @media (min-width: 700px) {
    .services_cardGroup {
      flex-direction: row;
      flex-wrap: wrap; } }

@media (min-width: 700px) {
  .services_cardWrapper {
    width: 50%; } }

@media (min-width: 1000px) {
  .services_cardWrapper {
    width: 33.333%; } }

.services_card {
  box-sizing: border-box;
  padding: 20px; }

.services_cardImageWrapper {
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: space-around; }

.services_cardImage {
  height: 100%; }

.services_cardContentWrapper {
  padding: 20px;
  background-color: #f2f2f2; }

.services_cardHeader {
  margin-bottom: 20px;
  font-family: Corbel, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #3d5975; }

.services_cardText {
  font-family: Corbel, sans-serif;
  font-size: 15px;
  line-height: 22.5px; }

@media (min-width: 1200px) {
  .about_wrapper {
    width: 1200px;
    margin: 0 auto; } }

.about {
  display: flex;
  padding: 0 20px; }
  @media (max-width: 550px) {
    .about {
      flex-direction: column; } }
  @media (min-width: 550px) {
    .about {
      flex-direction: row;
      height: 350px; } }
  @media (min-width: 700px) {
    .about {
      flex-direction: row;
      height: 500px; } }

.about_imageWrapper {
  overflow: hidden;
  display: flex;
  justify-content: center; }
  @media (max-width: 550px) {
    .about_imageWrapper {
      order: 0;
      height: 350px; } }
  @media (min-width: 550px) {
    .about_imageWrapper {
      order: 1;
      flex: 0 0 50%; } }

.about_image {
  display: block;
  height: 100%; }

.about_contentWrapper {
  background-color: #f2f2f2;
  padding: 20px 0; }
  @media (min-width: 550px) {
    .about_contentWrapper {
      flex: 0 0 50%; } }

.about_heading {
  margin: 20px;
  font-family: Corbel, sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: #1e2d3b; }

.about_text {
  margin: 20px;
  font-family: Corbel, sans-serif; }
  @media (max-width: 1000px) {
    .about_text {
      font-size: 15px;
      line-height: 22.5px; } }
  @media (min-width: 700px) {
    .about_text {
      font-size: 24px;
      line-height: 36px; } }
  @media (min-width: 1200px) {
    .about_text {
      font-size: 30px;
      line-height: 45px; } }
