$gray_20: #333333;
$gray_40: #666666;
$gray_60: #999999;
$gray_80: #cccccc;
$gray_95: #f2f2f2;

$color_yellow_0: #ffca00;
$color_blue_0: #1e2d3b;
$color_blue_1: #3d5975;

$font_family_normal: Corbel, sans-serif;

$header_height: 100px;
$header_nav_collapse: 800px;

$hero_height: 400px;
$hero_breakpoint_l: 1000px;

$services_cardImageHeight: 200px;
$services_breakpoint_xl: 1200px;
$services_breakpoint_l: 1000px;
$services_breakpoint_m: 700px;

$font_xs: 15px;
$font_s: 24px;
$font_m: 30px;
$font_l: 45px;
$font_xl: 50px;

$about_height_row: 500px;
$about_breakpoint_s: 550px;
$about_breakpoint_m: 700px;
$about_breakpoint_l: 1200px;
$about_breakpoint_xl: 1200px;